#main
  / Header
  %header#header
    %h1
    %nav
      %ul{role:  "tablist"}
        %li{role:  "presentation"}
          %a.icon.fa-home{data: { placement: "left", toggle: "tab" }, href:  "#home", role:  "tab", title:  "Home"}
        %li{role:  "presentation"}
          %a.icon.fa-child{data: { placement: "left", toggle: "tab" }, href:  "#services", role:  "tab", title:  "Services"}
        %li{role:  "presentation"}
          %a.icon.fa-calendar{data: { html: "true", placement: "left", toggle: "tab" }, href:  "#app", role:  "tab", title:  "Request an<br/>appointment"}
        %li{role:  "presentation"}
          %a.icon.fa-book{data: { placement: "left", toggle: "tab" }, href:  "#blog", role:  "tab", title:  "Articles"}
        %li{role:  "presentation"}
          %a.icon.fa-envelope-o{data: { html: "true", placement: "left", toggle: "tab" }, href:  "#contact", role:  "tab", title:  "Contact<br/>us"}
  .tab-content
    #home.tab-pane{role:  "tabpanel"}
      .panel.panel-primary
        .panel-body
          Nam tempor mi et libero dapibus, pretium fringilla neque sodales. Integer quis tortor eu mauris efficitur fermentum sed in velit.
    #services.tab-pane{role:  "tabpanel"}
      .panel.panel-primary
        .panel-body
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam cursus nisl justo, eget feugiat odio consequat quis. Aenean fermentum mattis libero, in facilisis nisl pellentesque id.
    #app.tab-pane{role:  "tabpanel"}
      .panel.panel-primary
        .panel-body
          %p.lead-sm.text-center
            %i.icon.fa-info-circle
            \&nbsp;
            We adhere to the strictest code of confidentiality, your information and requests are safe with us.
          #accordion.panel-group{role: "tablist", "aria-multiselectable" => "true"}
            .panel.panel-default
              #app-personal-heading.panel-heading{role: "tab"}
                %table.panel-title
                  /%a{role: "button", href: "#app-personal", "aria-expanded" => "true", "aria-controls" => "app-personal", data: { toggle: "collapse", parent: "#accordion"}}
                  %tbody
                    %tr
                      %td
                        %i.icon.fa-user
                      %td
                        Personal therapy
              #app-personal.panel-collapse.collapse{role: "tabpanel", "aria-labelledby" => "app-personal-heading"}
                .panel-body
                  %form.form-horizontal
                    .form-group
                      %label.col-sm-2.control-label{for:  "personal-inputName"} Name
                      .col-sm-10
                        %input#personal-inputName.form-control{type:  "text"}
                    .form-group
                      %label.col-sm-2.control-label{for:  "personal-inputEmail"} Email
                      .col-sm-10
                        %input#personal-inputEmail.form-control{type:  "email"}
                    .form-group
                      %label.col-sm-2.control-label{for:  "personal-inputPhone"} Contact number
                      .col-sm-10
                        %input#personal-inputPhone.form-control{type:  "tel"}
                    .form-group
                      %label.col-sm-2.control-label{for: "personal-inputSchedule"} Desired Appointment date/time
                      .col-sm-4
                        %input#personal-inputSchedule.form-control{type: "datetime-local"}
                    .form-group
                      %label.col-sm-2.control-label Language(s) of choice
                      .col-sm-10
                        -languages = [{label: 'English', code: 'en'}, {label: 'Hindi', code: 'hi'}, {label: 'Gujarati', code: 'gu'}, {label: 'Malyalam', code: 'ma'}]
                        -languages.each do |lang|
                          %label.checkbox-inline
                            %input{type: 'checkbox', value: lang[:code]}
                              =lang[:label]
                    .form-group
                      %label.col-sm-2.control-label Mode of therapy
                      .col-sm-10
                        %select.form-control
                          -modes = [{label: 'Face to Face', code: 'f2f'}, {label: 'Telephonic', code: 'tel'}, {label: 'Email', code: 'email'}, {label: 'Video (Skype/Hangouts)', code: 'vid'}, {label: 'Chat (Skype/Hangouts)', code: 'chat'}]
                          -modes.each do |mode|
                            %option{value: mode[:code]}
                              =mode[:label]
                    .form-group
                      .col-sm-10.col-sm-offset-2
                        .g-recaptcha
                    .form-group
                      .col-sm-offset-2.col-sm-10
                        %button.btn.btn-primary{type:  "submit"}
                          %i.icon.fa-calendar-check-o
                          Submit request
            .panel.panel-default
              #app-group-heading.panel-heading{role: "tab"}
                %table.panel-title
                  /%a{role: "button", href: "#app-group", "aria-expanded" => "true", "aria-controls" => "app-group", data: { toggle: "collapse", parent: "#accordion"}}
                  %tbody
                    %tr
                      %td
                        %i.icon.fa-users
                      %td
                        Group workshop
              #app-group.panel-collapse.collapse{role: "tabpanel", "aria-labelledby" => "app-group-heading"}
                .panel-body
                  %form.form-horizontal
                    .form-group
                      %label.col-sm-2.control-label{for:  "group-inputName"} Name
                      .col-sm-10
                        %input#group-inputName.form-control{type:  "text"}
                    .form-group
                      %label.col-sm-2.control-label{for:  "group-inputEmail"} Email
                      .col-sm-10
                        %input#group-inputEmail.form-control{type:  "email"}
                    .form-group
                      %label.col-sm-2.control-label{for:  "group-inputPhone"} Contact number
                      .col-sm-10
                        %input#group-inputPhone.form-control{type:  "tel"}
                    .form-group
                      %label.col-sm-2.control-label{for: "group-inputDesc"} Workshop requirement
                      .col-sm-10
                        %textarea#group-inputDesc.form-control{rows:  "3"}
                    .form-group
                      %label.col-sm-2.control-label Location
                      .col-sm-4
                        %select.form-control
                          %option (Select your city)
                          -cities = ["Mumbai", "New Delhi", "Bangalore", "Hyderabad", "Chennai", "Ahmedabad", "Kolkata", "Surat", "Pune", "Jaipur", "Lucknow", "Kanpur", "Nagpur", "Indore", "Visakhapatnam", "Thane", "Bhopal", "Pimpri-Chinchwad", "Patna", "Vadodara", "Ghaziabad", "Ludhiana", "Agra", "Nashik", "Faridabad", "Meerut", "Rajkot", "Kalyan-Dombivali", "Vasai-Virar", "Varanasi", "Srinagar", "Aurangabad", "Dhanbad", "Amritsar", "Navi Mumbai", "Allahabad", "Ranchi", "Howrah", "Coimbatore", "Jabalpur", "Gwalior", "Vijayawada", "Jodhpur", "Madurai", "Raipur", "Kota", "Guwahati", "Chandigarh", "Solapur", "Hubballi-Dharwad", "Tiruchirappalli", "Bareilly", "Moradabad", "Mysore", "Gurgaon", "Aligarh", "Jalandhar", "Bhubaneswar", "Salem", "Mira-Bhayandar", "Warangal", "Thiruvananthapuram", "Guntur", "Bhiwandi", "Saharanpur", "Gorakhpur", "Bikaner", "Amravati", "Noida", "Jamshedpur", "Bhilai", "Cuttack", "Firozabad", "Kochi", "Nellore", "Bhavnagar", "Dehradun", "Durgapur", "Asansol", "Nanded", "Kolhapur", "Ajmer", "Gulbarga", "Jamnagar", "Ujjain", "Loni", "Siliguri", "Jhansi", "Ulhasnagar", "Jammu", "Sangli-Miraj & Kupwad", "Mangalore", "Belgaum", "Ambattur", "Tirunelveli", "Malegaon", "Gaya", "Jalgaon", "Udaipur", "Maheshtala", "Tirupur", "Davanagere", "Kozhikode", "Akola", "Kurnool", "Rajpur Sonarpur", "Rajahmundry[10]", "Bokaro", "South Dumdum", "Bellary", "Patiala", "Gopalpur", "Agartala", "Bhagalpur", "Muzaffarnagar", "Bhatpara", "Panihati", "Latur", "Dhule", "Rohtak", "Korba", "Bhilwara", "Berhampur", "Muzaffarpur", "Ahmednagar", "Mathura", "Kollam", "Avadi", "Kadapa", "Kamarhati", "Bilaspur", "Shahjahanpur", "Satara", "Bijapur", "Rampur", "Shivamogga (Shimoga)", "Chandrapur", "Junagadh", "Thrissur", "Alwar", "Bardhaman", "Kulti", "Kakinada", "Nizamabad", "Parbhani", "Tumkur", "Hisar", "Ozhukarai", "Bihar Sharif", "Panipat", "Darbhanga", "Bally", "Aizawl", "Dewas", "Ichalkaranji", "Tirupati", "Karnal", "Bathinda", "Jalna", "Barasat", "Kirari Suleman Nagar", "Purnia", "Satna", "Mau", "Sonipat", "Farrukhabad", "Sagar", "Rourkela", "Durg", "Imphal", "Ratlam", "Hapur", "Anantapur", "Arrah", "Karimnagar", "Ramagundam", "Etawah", "Ambernath", "North Dumdum", "Bharatpur", "Begusarai", "New Delhi", "Gandhidham", "Baranagar", "Tiruvottiyur", "Puducherry", "Sikar", "Thoothukudi", "Rewa", "Mirzapur", "Raichur", "Pali", "Vijayanagaram", "Katihar", "Haridwar", "Sri Ganganagar", "Karawal Nagar", "Nagercoil", "Mango"].sort
                          -cities.each do |city|
                            %option
                              =city
                    .form-group
                      %label.col-sm-2.control-label{for: "group-inputSchedule"} Preferred Date
                      .col-sm-3
                        %input#group-inputSchedule.form-control{type: "date"}
                    .form-group
                      %label.col-sm-2.control-label Language(s) of choice
                      .col-sm-10
                        -languages = [{label: 'English', code: 'en'}, {label: 'Hindi', code: 'hi'}, {label: 'Gujarati', code: 'gu'}, {label: 'Malyalam', code: 'ma'}]
                        -languages.each do |lang|
                          %label.checkbox-inline
                            %input{type: 'checkbox', value: lang[:code]}
                              =lang[:label]
                    .form-group
                      .col-sm-10.col-sm-offset-2
                        .g-recaptcha
                    .form-group
                      .col-sm-offset-2.col-sm-10
                        %button.btn.btn-primary{type:  "submit"}
                          %i.icon.fa-calendar-check-o
                          Submit request
    #contact.tab-pane{role:  "tabpanel"}
      .panel.panel-primary
        .panel-body
          %p.lead Drop us an email or give us a call:
          %hr
          .row
            .col-sm-6
              %i.icon.fa-at.fa-lg
              \&nbsp;
              %a{href:  "mailto:email@innerdialogue.in"} email@innerdialogue.in
            .col-sm-6
              %i.icon.fa-phone.fa-lg
              \&nbsp;
              %a{href:  "tel:+917022159160"} +91 7022 159 160
          .row &nbsp;
          %p.lead For any queries, leave a message:
          %hr
          %form.form-horizontal
            .form-group
              %label.col-sm-2.control-label{for:  "contact-inputName"} Name
              .col-sm-10
                %input#contact-inputName.form-control{type:  "text"}
            .form-group
              %label.col-sm-2.control-label{for:  "contact-inputEmail"} Email
              .col-sm-10
                %input#contact-inputEmail.form-control{type:  "email"}
            .form-group
              %label.col-sm-2.control-label{for:  "contact-inputPhone"} Contact no.
              .col-sm-10
                %input#contact-inputPhone.form-control{type:  "tel"}
            .form-group
              %label.col-sm-2.control-label{for:  "contact-inputMsg"} Message
              .col-sm-10
                %textarea#contact-inputMsg.form-control{rows:  "3"}
            .form-group
              .col-sm-10.col-sm-offset-2
                .g-recaptcha
            .form-group
              .col-sm-offset-2.col-sm-10
                %button.btn.btn-primary{type:  "submit"}
                  %i.icon.fa-paper-plane
                  Send
  / Footer
  -#%footer#footer
    %span.copyright &copy; Inner Dialogue.
