#main
  / Header
  %header#header
    %h1
    %nav
      %ul{role:  "tablist"}
        %li{role:  "presentation"}
          %a.icon.fa-home{data: { placement: "left", toggle: "tab" }, href:  "#home", role:  "tab", title:  "Home"}
        %li{role:  "presentation"}
          %a.icon.fa-child{data: { placement: "left", toggle: "tab" }, href:  "#services", role:  "tab", title:  "Services"}
        %li{role:  "presentation"}
          %a.icon.fa-calendar{data: { html: "true", placement: "left", toggle: "tab" }, href:  "#app", role:  "tab", title:  "Request an<br/>appointment"}
        %li{role:  "presentation"}
          %a.icon.fa-book{data: { placement: "left", toggle: "tab" }, href:  "#blog", role:  "tab", title:  "Articles"}
        %li{role:  "presentation"}
          %a.icon.fa-envelope-o{data: { html: "true", placement: "left", toggle: "tab" }, href:  "#contact", role:  "tab", title:  "Contact<br/>us"}
  .tab-content
    #home.tab-pane{role:  "tabpanel"}
      .panel.panel-primary
        .panel-body
          %p.lead About Inner Dialogue
          %hr
          %p.lead-sm
            At Inner Dialogue, each consellor believes that every living being is capable of becoming self-realized, and one who realizes this is bound to become a realized soul. Therapists here strive to become a part of client's this journey towards awareness to lead fulfilling life. They are determined to spread awareness about mental health in society by working hard and having strong ethics. 

          %p.lead About Team
          %hr
          %p.lead-sm
            Our team of counsellors here comes from diverse backgrounds – some have prior experience in fields as different as HR, IT, Coaching and Social Work, but common to this team is their professional competence in counselling and psychology, and passion to make a difference. All counsellors here have  minimum of a Masters in counselling psychology, clinical psychology. Many  are having Ph.D’s and several years of counselling experience. Our therapists here invest substantial amount of effort in providing a flexible combination of mode of therapy, location of therapy and language of therapy suitable to our clients with affordable fees.

          %p.lead Therapists Profiles
          %hr
          .row
            .col-md-3.text-center
              .row
                .col-md-12
                  %img{src: "https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAJKAAAAJDJmYTlkNmRhLTc1NjktNDJhZi1hNDhiLTM2NTRlNzQwNzg2Nw.jpg"}
              .row
                %strong Chandni Mehta
                %br
                %small M.Sc. (Counselling Psychology)
                %br
                %small Founder, Inner Dialogue
            .col-md-9.strip-left
              %p.text-justify
                Chandni's clinical practice focuses on working with children, young adults, parents, pre-marital and marital therapy. She has worked with different age groups in different settings like schools, hospitals and de-addiction centers. These exposure made her experience the distinct needs of people and society. She currently practices at harmony wellness concepts and is also Resource person at Deccan Herald.
          .has-below
          .row
            .col-md-9.strip-right
              %p.text-justify
                Nitin Mehra delivers training and coaching in diverse settings and multiple domains especially in the field of Health Psychology, Relationship and Career Counseling. He did his engineering and worked in companies like Cognizant and HCL. His passion for reaching out to people and deep interest in human psychology evolved him into his present profile..
            .col-md-3.text-center
              .row
                .col-md-12
                  %img{src: "https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAK7AAAAJDEyOTNhODNmLTk4NGYtNDdiOS05YWE3LTBjMjI5M2RhMmZhNw.jpg"}
              .row
                %strong Nitin Mehra
                %br
                %small M.Sc. (Counselling Psychology)
    #services.tab-pane{role:  "tabpanel"}
      .panel.panel-primary
        .panel-body
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam cursus nisl justo, eget feugiat odio consequat quis. Aenean fermentum mattis libero, in facilisis nisl pellentesque id.
    #app.tab-pane{role:  "tabpanel"}
      .panel.panel-primary
        .panel-body
          %p.lead-sm.text-center
            %i.icon.fa-info-circle
            \&nbsp;
            We adhere to the strictest code of confidentiality, your information and requests are safe with us.
          #accordion.panel-group{role: "tablist", "aria-multiselectable" => "true"}
            .panel.panel-default
              #app-personal-heading.panel-heading{role: "tab"}
                %table.panel-title
                  /%a{role: "button", href: "#app-personal", "aria-expanded" => "true", "aria-controls" => "app-personal", data: { toggle: "collapse", parent: "#accordion"}}
                  %tbody
                    %tr
                      %td
                        %i.icon.fa-user
                      %td
                        Personal therapy
              #app-personal.panel-collapse.collapse{role: "tabpanel", "aria-labelledby" => "app-personal-heading"}
                .panel-body
                  %form#therapy-form.form-horizontal{data: {action: "/ajax/book-therapy"}}
                    .form-group
                      %label.col-sm-2.control-label{for:  "personal-inputName"} Name
                      .col-sm-10
                        %input#personal-inputName.form-control{type:  "text", name: "name", required: true}
                    .form-group
                      %label.col-sm-2.control-label{for:  "personal-inputEmail"} Email
                      .col-sm-10
                        %input#personal-inputEmail.form-control{type:  "email", name: "email"}
                    .form-group
                      %label.col-sm-2.control-label{for:  "personal-inputPhone"} Contact number
                      .col-sm-10
                        %input#personal-inputPhone.form-control{type:  "tel", name: "phone"}
                    .form-group
                      %label.col-sm-2.control-label{for: "personal-inputSchedule"} Desired Appointment date/time
                      .col-sm-4
                        %input#personal-inputSchedule.form-control{type: "datetime-local", name: "schedule", required: true}
                    .form-group
                      %label.col-sm-2.control-label Language(s) of choice
                      .col-sm-10
                        -languages = [{label: 'English', code: 'en'}, {label: 'Hindi', code: 'hi'}, {label: 'Gujarati', code: 'gu'}, {label: 'Malyalam', code: 'ma'}]
                        -languages.each do |lang|
                          %label.checkbox-inline
                            %input{type: 'checkbox', value: lang[:code], name: "lang[]"}
                              =lang[:label]
                    .form-group
                      %label.col-sm-2.control-label Mode of therapy
                      .col-sm-10
                        %select.form-control{name: "mode", required: true}
                          -modes = [{label: 'Face to Face', code: 'f2f'}, {label: 'Telephonic', code: 'tel'}, {label: 'Email', code: 'email'}, {label: 'Video (Skype/Hangouts)', code: 'vid'}, {label: 'Chat (Skype/Hangouts)', code: 'chat'}]
                          -modes.each do |mode|
                            %option{value: mode[:code]}
                              =mode[:label]
                    .form-group
                      .col-sm-10.col-sm-offset-2
                        .g-recaptcha
                    .form-group
                      .col-sm-offset-2.col-sm-10
                        %button.btn.btn-primary{type:  "submit"}
                          %i.icon.fa-calendar-check-o
                          Submit request
                        \&nbsp;
                        %small
                          %em#therapy-status
            .panel.panel-default
              #app-group-heading.panel-heading{role: "tab"}
                %table.panel-title
                  /%a{role: "button", href: "#app-group", "aria-expanded" => "true", "aria-controls" => "app-group", data: { toggle: "collapse", parent: "#accordion"}}
                  %tbody
                    %tr
                      %td
                        %i.icon.fa-users
                      %td
                        Group workshop
              #app-group.panel-collapse.collapse{role: "tabpanel", "aria-labelledby" => "app-group-heading"}
                .panel-body
                  %form#workshop-form.form-horizontal{data: {action: "/ajax/book-workshop"}}
                    .form-group
                      %label.col-sm-2.control-label{for:  "group-inputName"} Name
                      .col-sm-10
                        %input#group-inputName.form-control{type:  "text", name: "name", required: true}
                    .form-group
                      %label.col-sm-2.control-label{for:  "group-inputEmail"} Email
                      .col-sm-10
                        %input#group-inputEmail.form-control{type:  "email", name: "email"}
                    .form-group
                      %label.col-sm-2.control-label{for:  "group-inputPhone"} Contact number
                      .col-sm-10
                        %input#group-inputPhone.form-control{type:  "tel", name: "phone"}
                    .form-group
                      %label.col-sm-2.control-label{for: "group-inputDesc"} Workshop requirement
                      .col-sm-10
                        %textarea#group-inputDesc.form-control{rows:  "3", name: "desc", required: true}
                    .form-group
                      %label.col-sm-2.control-label Location
                      .col-sm-4
                        %select.form-control{name: "city", required: true}
                          %option (Select your city)
                          -cities = ["Mumbai", "New Delhi", "Bangalore", "Hyderabad", "Chennai", "Ahmedabad", "Kolkata", "Surat", "Pune", "Jaipur", "Lucknow", "Kanpur", "Nagpur", "Indore", "Visakhapatnam", "Thane", "Bhopal", "Pimpri-Chinchwad", "Patna", "Vadodara", "Ghaziabad", "Ludhiana", "Agra", "Nashik", "Faridabad", "Meerut", "Rajkot", "Kalyan-Dombivali", "Vasai-Virar", "Varanasi", "Srinagar", "Aurangabad", "Dhanbad", "Amritsar", "Navi Mumbai", "Allahabad", "Ranchi", "Howrah", "Coimbatore", "Jabalpur", "Gwalior", "Vijayawada", "Jodhpur", "Madurai", "Raipur", "Kota", "Guwahati", "Chandigarh", "Solapur", "Hubballi-Dharwad", "Tiruchirappalli", "Bareilly", "Moradabad", "Mysore", "Gurgaon", "Aligarh", "Jalandhar", "Bhubaneswar", "Salem", "Mira-Bhayandar", "Warangal", "Thiruvananthapuram", "Guntur", "Bhiwandi", "Saharanpur", "Gorakhpur", "Bikaner", "Amravati", "Noida", "Jamshedpur", "Bhilai", "Cuttack", "Firozabad", "Kochi", "Nellore", "Bhavnagar", "Dehradun", "Durgapur", "Asansol", "Nanded", "Kolhapur", "Ajmer", "Gulbarga", "Jamnagar", "Ujjain", "Loni", "Siliguri", "Jhansi", "Ulhasnagar", "Jammu", "Sangli-Miraj & Kupwad", "Mangalore", "Belgaum", "Ambattur", "Tirunelveli", "Malegaon", "Gaya", "Jalgaon", "Udaipur", "Maheshtala", "Tirupur", "Davanagere", "Kozhikode", "Akola", "Kurnool", "Rajpur Sonarpur", "Rajahmundry[10]", "Bokaro", "South Dumdum", "Bellary", "Patiala", "Gopalpur", "Agartala", "Bhagalpur", "Muzaffarnagar", "Bhatpara", "Panihati", "Latur", "Dhule", "Rohtak", "Korba", "Bhilwara", "Berhampur", "Muzaffarpur", "Ahmednagar", "Mathura", "Kollam", "Avadi", "Kadapa", "Kamarhati", "Bilaspur", "Shahjahanpur", "Satara", "Bijapur", "Rampur", "Shivamogga (Shimoga)", "Chandrapur", "Junagadh", "Thrissur", "Alwar", "Bardhaman", "Kulti", "Kakinada", "Nizamabad", "Parbhani", "Tumkur", "Hisar", "Ozhukarai", "Bihar Sharif", "Panipat", "Darbhanga", "Bally", "Aizawl", "Dewas", "Ichalkaranji", "Tirupati", "Karnal", "Bathinda", "Jalna", "Barasat", "Kirari Suleman Nagar", "Purnia", "Satna", "Mau", "Sonipat", "Farrukhabad", "Sagar", "Rourkela", "Durg", "Imphal", "Ratlam", "Hapur", "Anantapur", "Arrah", "Karimnagar", "Ramagundam", "Etawah", "Ambernath", "North Dumdum", "Bharatpur", "Begusarai", "New Delhi", "Gandhidham", "Baranagar", "Tiruvottiyur", "Puducherry", "Sikar", "Thoothukudi", "Rewa", "Mirzapur", "Raichur", "Pali", "Vijayanagaram", "Katihar", "Haridwar", "Sri Ganganagar", "Karawal Nagar", "Nagercoil", "Mango"].sort
                          -cities.each do |city|
                            %option
                              =city
                    .form-group
                      %label.col-sm-2.control-label{for: "group-inputSchedule"} Preferred Date
                      .col-sm-3
                        %input#group-inputSchedule.form-control{type: "date", name: "schedule", required: true}
                    .form-group
                      %label.col-sm-2.control-label Language(s) of choice
                      .col-sm-10
                        -languages = [{label: 'English', code: 'en'}, {label: 'Hindi', code: 'hi'}, {label: 'Gujarati', code: 'gu'}, {label: 'Malyalam', code: 'ma'}]
                        -languages.each do |lang|
                          %label.checkbox-inline
                            %input{type: 'checkbox', value: lang[:code], name: "lang[]"}
                              =lang[:label]
                    .form-group
                      .col-sm-10.col-sm-offset-2
                        .g-recaptcha
                    .form-group
                      .col-sm-offset-2.col-sm-10
                        %button.btn.btn-primary{type:  "submit"}
                          %i.icon.fa-calendar-check-o
                          Submit request
                        \&nbsp;
                        %small
                          %em#workshop-status
    #contact.tab-pane{role:  "tabpanel"}
      .panel.panel-primary
        .panel-body
          %p.lead Drop us an email or give us a call:
          %hr
          .row
            .col-sm-6
              %i.icon.fa-at.fa-lg
              \&nbsp;
              %a{href:  "mailto:email@innerdialogue.in"} email@innerdialogue.in
            .col-sm-6
              %i.icon.fa-phone.fa-lg
              \&nbsp;
              %a{href:  "tel:+917022159160"} +91 7022 159 160
          .row &nbsp;
          %p.lead For any queries, leave a message:
          %hr
          %form#contact-form.form-horizontal{data: {action: "/ajax/contact"}}
            .form-group
              %label.col-sm-2.control-label{for:  "contact-inputName"} Name
              .col-sm-10
                %input#contact-inputName.form-control{type:  "text", name: "name", required: true}
            .form-group
              %label.col-sm-2.control-label{for:  "contact-inputEmail"} Email
              .col-sm-10
                %input#contact-inputEmail.form-control{type:  "email", name: "email"}
            .form-group
              %label.col-sm-2.control-label{for:  "contact-inputPhone"} Contact no.
              .col-sm-10
                %input#contact-inputPhone.form-control{type:  "tel", name: "phone"}
            .form-group
              %label.col-sm-2.control-label{for:  "contact-inputMsg"} Message
              .col-sm-10
                %textarea#contact-inputMsg.form-control{rows:  "3", name: "msg", required: true}
            .form-group
              .col-sm-10.col-sm-offset-2
                .g-recaptcha
            .form-group
              .col-sm-offset-2.col-sm-10
                %button.btn.btn-primary{type:  "submit"}
                  %i.icon.fa-paper-plane
                  Send
                \&nbsp;
                %small
                  %em#contact-status
  / Footer
  -#%footer#footer
    %span.copyright &copy; Inner Dialogue.
